.btn {
    margin: 0 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.container {
    display: inline-block;
    position: relative;
}

.icon {
    margin-left: 5px;
    margin-bottom: 3px;
}

.upload-state {
    position: relative;
    display: inline-block;
}

.spinner{
    padding-left: 50px;
    position: initial;
    background: none;
}
form{
    position: relative;
}